#nav_top
{
    background-color: rgb(41, 41, 100);
    padding: 0 10%;
    line-height: 3;
    
}
.nav-item{
   
    padding-left: 25px;
    font-size: 20px;
    
}

.nav-link
{
    color: white;
}
.nav-link:hover
{
    color: #0d6efd;
}
button:hover
{
    background-color: white;

}
.btn
{
background-color: white;
}
.ig
{
    width: 100% !important;
    height:550px!important;
    display: block;
}
#ab
{
color: white;
background-color: #0d6efd;
}
.bc
{
  display: inline-flex;

 
}
#a
{
    color: #1f0adb;
}
#b
{
    color: #0aa4dc;
}
#c
{
    color: #d90cc1;
}
#d
{
    color: #2bdb51;
}
#e
{
    color: black;
}
#e:hover
{
    color: white;
    background-color: #0d6efd;
  
}
#f
{
    color: black;
}
#f:hover
{
    color: white;
    background-color: #0d6efd;
  
}
.card:hover
{
    color: white;
    background-color: rgb(41, 41, 100);
}
.containers
{
   background-color: #b2b3d0;
}
#bt
{
    width: 100% !important;
    color: black;
    font-size: medium!important;
   

}
#bt:hover
{
    color: white;
   
}
.message .success{
    font-size: 15px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
    margin-top: 3px;
    text-align: center;
    padding: inline;
    text-decoration: solid;
}
.message .danger{
    font-size: 15px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
    margin-top: 3px;
    text-align: center;
    padding: inline;
    text-decoration: solid;


}